In [1]:
import numpy as np
import pandas as pd

In [2]:
import os
print(os.getcwd())

C:\Users\zeekk

# Assistant
The selected code `df = pd.read_csv('Electric_Vehicle_Population_Data.csv')` performs the following steps:

1. **Importing Data**: This line uses the `read_csv()` function from the `pandas` library to read data from a CSV (Comma-Separated Values) file.

2. **File Path**: The string `'Electric_Vehicle_Population_Data.csv'` specifies the name of the CSV file to be read. This file should be located in the current working directory or the specified path.

3. **DataFrame Creation**: The result of the `read_csv()` function is assigned to the variable `df`, which will be a Pandas DataFrame. This DataFrame will contain the data from the CSV file, organized in a tabular format with rows and columns.

In summary, this line of code loads the electric vehicle population data from a CSV file into a Pandas DataFrame for further analysis or manipulation.

In [4]:
df = pd.read_csv(r"C:\Users\zeekk\OneDrive\Desktop\Data_Analysis_Portfolio_Datasets\Electric_Vehicle_Population_Data.csv")

In [5]:
print (df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 223995 entries, 0 to 223994
Data columns (total 17 columns):
 #   Column                                             Non-Null Count   Dtype
---  ------                                             --------------   -----
 0   VIN (1-10)                                         223995 non-null  object
 1   County                                             223992 non-null  object
 2   City                                               223992 non-null  object
 3   State                                              223995 non-null  object
 4   Postal Code                                        223992 non-null  float64
 5   Model Year                                         223995 non-null  int64
 6   Make                                               223995 non-null  object
 7   Model                                              223995 non-null  object
 8   Electric Vehicle Type                              223995 non-null  object
 9   Clean Alternative Fuel Vehicle (CAFV) Eligibility  223995 non-null  object
 10  Electric Range                                     223977 non-null  float64
 11  Base MSRP                                          223977 non-null  float64
 12  Legislative District                               223521 non-null  float64
 13  DOL Vehicle ID                                     223995 non-null  int64
 14  Vehicle Location                                   223985 non-null  object
 15  Electric Utility                                   223992 non-null  object
 16  2020 Census Tract                                  223992 non-null  float64
dtypes: float64(5), int64(2), object(10)
memory usage: 29.1+ MB
None

In [6]:
print (df.isnull().sum())

VIN (1-10)                                             0
County                                                 3
City                                                   3
State                                                  0
Postal Code                                            3
Model Year                                             0
Make                                                   0
Model                                                  0
Electric Vehicle Type                                  0
Clean Alternative Fuel Vehicle (CAFV) Eligibility      0
Electric Range                                        18
Base MSRP                                             18
Legislative District                                 474
DOL Vehicle ID                                         0
Vehicle Location                                      10
Electric Utility                                       3
2020 Census Tract                                      3
dtype: int64

In [7]:
print (df.describe())

         Postal Code     Model Year  Electric Range      Base MSRP  \
count  223992.000000  223995.000000   223977.000000  223977.000000
mean    98176.491165    2021.264408       47.736187     829.894386
std      2544.240509       2.989676       84.987140    7372.509049
min      1731.000000    1999.000000        0.000000       0.000000
25%     98052.000000    2020.000000        0.000000       0.000000
50%     98126.000000    2022.000000        0.000000       0.000000
75%     98374.000000    2023.000000       39.000000       0.000000
max     99577.000000    2025.000000      337.000000  845000.000000

       Legislative District  DOL Vehicle ID  2020 Census Tract
count         223521.000000    2.239950e+05       2.239920e+05
mean              28.876361    2.329328e+08       5.297997e+10
std               14.911023    6.884329e+07       1.531491e+09
min                1.000000    4.385000e+03       1.001020e+09
25%               17.000000    2.008002e+08       5.303301e+10
50%               32.000000    2.482992e+08       5.303303e+10
75%               42.000000    2.673973e+08       5.305307e+10
max               49.000000    4.792548e+08       5.602100e+10

In [8]:
df = df.drop_duplicates()

In [18]:
columns_to_delete = ["VIN (1-10)","Postal Code", "Electric Range", "Base MSRP","Legislative District", "DOL Vehicle ID", "2020 Census Tract", "Vehicle Location" ]  # Replace with actual column names
df = df.drop(columns=columns_to_delete)

In [20]:
print (df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 223995 entries, 0 to 223994
Data columns (total 9 columns):
 #   Column                                             Non-Null Count   Dtype
---  ------                                             --------------   -----
 0   County                                             223992 non-null  object
 1   City                                               223992 non-null  object
 2   State                                              223995 non-null  object
 3   Model Year                                         223995 non-null  int64
 4   Make                                               223995 non-null  object
 5   Model                                              223995 non-null  object
 6   Electric Vehicle Type                              223995 non-null  object
 7   Clean Alternative Fuel Vehicle (CAFV) Eligibility  223995 non-null  object
 8   Electric Utility                                   223992 non-null  object
dtypes: int64(1), object(8)
memory usage: 15.4+ MB
None

In [24]:
df = df[df["Model Year"] != 2025]

In [42]:
print(pd.Series(df['Model Year'].unique()).sort_values(ascending=True).values)

[1999 2000 2002 2003 2008 2010 2011 2012 2013 2014 2015 2016 2017 2018
 2019 2020 2021 2022 2023 2024]

In [44]:
print (df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 218988 entries, 0 to 223994
Data columns (total 9 columns):
 #   Column                                             Non-Null Count   Dtype
---  ------                                             --------------   -----
 0   County                                             218985 non-null  object
 1   City                                               218985 non-null  object
 2   State                                              218988 non-null  object
 3   Model Year                                         218988 non-null  int64
 4   Make                                               218988 non-null  object
 5   Model                                              218988 non-null  object
 6   Electric Vehicle Type                              218988 non-null  object
 7   Clean Alternative Fuel Vehicle (CAFV) Eligibility  218988 non-null  object
 8   Electric Utility                                   218985 non-null  object
dtypes: int64(1), object(8)
memory usage: 16.7+ MB
None